div.header
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap", rel="stylesheet")
  link(rel="stylesheet", href="/css/styles.css")
  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js")
