doctype html
html(lang="en")
  head
    title Chloe's Food Blog
    include ./includes/header.pug
  body
   
    #leftside
    #rightside
    #container
      include ./includes/content.pug
    include ./includes/footer.pug
